// main layout

#root {
    display: flex;
    flex-direction: column;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    
    @media (max-width: $sm-devices) {
        display: block;
    }

    &__container { 
        padding: 0!important;

        &__content {
            margin-bottom: 220px;
            margin-top: 50px!important;    
            position: relative;

            @media (max-width: 850px) {
                padding: 0 10px!important;
                margin-bottom: 380px; 
                margin-top: 20px!important;    
            }
        }
    }
}

//center or 1 x 1 containers layout

.split {
    width: 100%;
    display: block;

    i {
        color: white;
    }

    @media (max-width: $sm-devices) {
        h1 {
            text-align: left!important;
        }
    }

    &__box { 
        &--left {
            width: 65%;
            display: inline-block;
            padding-right: 30px;
            margin-top: 80px;
            word-break: break-word;

            @media (max-width: $sm-devices) {
                width: 100%;
                padding-right: 0;
                overflow: hidden;
                margin-top: 20px;
            }
        }

        &--right {
            @extend .split__box--left;
            width: 35%;
            float: right;
            padding: 0;

            @media (max-width: $sm-devices) {
                float: none;
                width: 100%;
                margin-top: 0;
            }
        }

        &--middle {
            display: flex;
            align-items: baseline;
            justify-content: space-between;

            @media (max-width: $md-devices) { 
                display: block;

                div > ul {
                    display: grid;

                    li {
                        display: block;
                        width: 100%;
                    }
                }
            }

            div {
                padding-right: 20px;
                width: 50%;
                display: inline-block;

                @media (max-width: $sm-devices) {
                    width: 100%;
                    padding-right: 0px;
                    display: block;
                }

                &:nth-child(2) {
                    @media (max-width: $sm-devices) {
                        padding-right: 0px;
                    }
                }
            }
        }

        &__section {
            margin-bottom: 60px;

            @media (max-width: $sm-devices) {
                margin-bottom: 30px;
            }

            p {
                display: block;
            }

            span {
                float: right;
            }

            form {
                label {
                    display: block;
                }

                .form__split {
                    display: flex!important;
                    justify-content: space-between;
                    padding: 0!important;

                    div {
                        width: 49%!important;
                        display: inline-block;
                        padding: 0!important;

                        div, input {
                            width: 100%!important;

                           
                                &:disabled {
                                    &:hover {
                                        cursor: not-allowed;
                                    }
                                }
                           
                        }
                    }
                }
            }
        } 
    }
}

//list layout

.divider {
    width: 100%;
    background-color: $bg-pink;

    @media (max-width: 1000px) {
        padding-bottom: 16px;
    }

    h1 {
        margin-top: 3px;

        @media (max-width: 1000px) {
            margin-top: 8px;
            font-size: 30px!important;
            padding-top: 10px;
        }
    }

    span {
        margin-left: 14px;
        vertical-align: middle;

        @media (max-width: $sm-devices) {
            margin: 8px 0 0 0;
            display: block;
            vertical-align: bottom;
        }
    }

    &__sorting {
        padding-top: 14px;
        float: right;
        display: inline;

        @media (max-width: 900px) {
            width: 100%;
            display: inline-block;
            float: none;
            padding-top: 10px!important;
        }

        @media (max-width: 1000px) {
            padding-top: 20px;
        }

        &__input {
            color: $text-color;

            select {
                font-size: 14px;
                padding: 4px 6px;
                border: 1px solid #EAEAEA;
                border-radius: 4px;
                color: $text-color;
                outline: 0;
                margin-left: 10px;

                @media (max-width: 900px) {
                    width: 100%;
                    margin: 5px 0 0 0;
                }
            }

            @media (max-width: 900px) {
                width: 100%;
                display: flex;
            }

            &--search {
                div {
                    display: inline-flex;
                    position: relative;

                    @media (max-width: 900px) {
                        display: block!important;
                    }
                
                    input {
                        @extend .nav__searchbar--input;

                        @media (max-width: 900px) {
                            width: 100%;
                            margin-left: 0;
                        }
                    }

                    i {
                        position: absolute;
                        bottom: 3px;
                        right: 10px;
                        font-size: 16px;
                    }
                }

            }
        }

        @media (max-width: 900px) {
            width: 100%;
            display: block;
        }
    }

    &__textbox {
        padding: 60px 0 52px 0;
        text-align: center;
        background-color: $bg-pink;

        @media (max-width: $sm-devices) {
            padding: 40px 15px 35px 15px;
        }

        p {
            width: 100%;
            text-align: left;
            max-width: 520px;
            display: inline-block;
            margin: 20px 50px;
            padding: 0 30px;
            vertical-align: middle;
            font-size: 16px;
            border-left: 4px solid $detail-brown;

            @media (max-width: $sm-devices) {
                margin: 0;
                padding: 30px 0;
                border: none;
                text-align: center!important;

                &:nth-child(2) {
                    padding: 0;
                    max-width: 100px;
                    border-top: 5px solid $detail-brown;
                }
            }

            @media (min-width: $sm-devices) {
                &:nth-child(2) {
                    display: none;
                }
            }
        }
    }
}

.items {
    @include user-select;
    min-height: 130px;
    padding: 10px 0;

    &__item {
        width: 100%;
        margin-top: 40px;
        background-color: $bg-grey;
        min-height: 300px;
        display: flex;
        align-items: center;
        box-shadow: $box-shadow;
        padding: 20px 0;
        
        @media (max-width: $md-devices) {
            display: inline-table;
            padding: 0;
        }
    
        &__part { 
            &--right {
                width: 42%;
                float: left;
    
                @media (max-width: $md-devices) {
                    width: 100%!important;
                    display: block;
                }
            }
    
            &--left {
                @extend .items__item__part--left;
                width: 58%;
                display: inline-block;
                padding: 10px 10px 10px 30px;
                word-break: break-word;
    
                @media (max-width: $md-devices) {
                    width: 100%!important;
                    padding: 20px 10px 0px 10px;
                }
            }
        }

        &__img {
            height: 400px; 
            padding: 20px 0;

            @media (max-width: $md-devices) {
                padding: 0;
            }
        
            img {
                @include cover-image;
            } 
        }

        &__heading {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 1000px) {
                line-height: 0.8;
                display: inline-block;

                span {
                    margin: 24px 0 15px 0;
                    display: block;
                }
            }

            p {
                font-family: $heading-font;
                text-transform: capitalize;
            }

            &--map {
                i {
                    margin-right: 10px;
                    color: $detail-brown;
                }
            }
        }

        &__tags {
            position: relative;

            div {
                display: flex;
                justify-content: flex-start; 
                align-items: flex-start;
                flex-wrap: wrap;
            }

            &--tag {
                margin: 0 50px 5px 0;
                @extend .shout;
            }
        }

        &__buttons {
            p {
                @extend .shout;
                font-size: 18px;
                font-weight: 500;
            }    

            &--button {
                display: block;
            }
        }
    }
}

//full page background image

.background {
    position: relative;

    &__image {
        @include center-background;
        @include cover-background;
        height: 100%;
        position: relative;

        @media (max-width: $md-devices) {
            height: 500px!important;
        }
        
        @media (max-width: $sm-devices) {
            height: 420px!important;
        }
    }

    &__content, &__dates {
        bottom: 0;
        position: absolute;
        background: white;
        @include absolute-center-x;
        min-width: 800px;
        max-width: 100%;
        display: flex;
        padding: 30px 80px 10px 80px;
        justify-content: space-between;
        align-items: flex-end;
        line-height: 3;
        border-radius: 3px 3px 0 0;

        @media (max-width: $md-devices) {
            min-width: 600px;
            width: 90%;
            padding: 15px 20px;
        }
        
        @media (max-width: $sm-devices) {
            min-width: 240px;
            width: 90%;
            padding: 16px 25px 8px 25px;
            display: block;
            text-align: center;

            span, i {
                display: block;
                margin: 0;
                line-height: 1.5;
            }
        }
    }

    &__dates {
        bottom: 60px;
        min-width: 800px;
        max-width: 100%;
        display: flex;
        padding: 20px 30px;
        justify-content: space-between;
        align-items: flex-end;
        line-height: 3;
        border-radius: 3px;
        box-shadow: $box-shadow;

        @media (max-width: $md-devices) {
            min-width: 600px;
            bottom: 30px;
        }
        
        @media (max-width: $sm-devices) {
            display: none;
        }

        .background__dates__inputs {
            width: 62%;

            form > fieldset {
                display: flex;
                justify-content: space-between;
    
                > div {
                    width: 46%;
                    line-height: 1;

                    @media (max-width: $md-devices) {
                        width: 42%;
                    }
                    
                    label {        
                        font-size: 16px;
                    }

                    div > input {
                        border: 0;
                        border-bottom: 2px solid $main-blue;
                        padding: 0;
                        background-color: white;
                        color: $main-blue;
                        border-radius: 0;
                        cursor: pointer;
                        font-size: 15px;

                        &:disabled {
                            color: $text-color!important;
                            cursor: not-allowed;
                            background-color: rgba(240, 240, 240, 0.418);
                        }
                    }
                }
            }
        }

        &__btn  {
            padding-left: 60px;
            width: 38%;

            @media (max-width: $md-devices) {
                padding-left: 20px;
            }

            > button {
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 400;
                width: 100%;

                @media (max-width: $md-devices) {
                    font-size: 14px;
                }
            }
        }
    }

    &__fp {
        display: flex;
        
        @media (max-width: $sm-devices) {
            display: block;
        }
    }

    &__promo {
        width: 50%;
        display: inline-block;

        @media (max-width: $sm-devices) {
            width: 100%;
            display: block;
            position: relative;
        }

        &__img {
            @media (max-width: $sm-devices) {
                margin-bottom: 140px;
            }
        }

        &__text {
            background-color: $bg-grey;
            position: relative;
            
            div {
                @include absolute-center;
                padding: 0 20px 0 50px;
                width: 90%;
                
                @media (max-width: $md-devices) {
                    top: 40%;
                    padding: 0 20px 0 30px;
                }

                h1 {
                    font-size: 52px!important;
                }

                p {
                    margin: 20px 0 0 30px;
                    font-size: 18px;
                    font-weight: 500;

                    &:nth-child(3) {
                        font-weight: 400;
                        font-size: 17px;

                        @media (max-width: $md-devices) {
                            display: none;
                        }
                    }
                }
            }

            @media (max-width: $sm-devices) {
                display: none;
            }
        }
    }

    &__sm {
        width: 85%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -10%);
        position: absolute;
        bottom: -100px;
        z-index: 4;
        text-align: center;
        padding: 22px 10px;
        background-color: $bg-grey;
        box-shadow: 0px 8px 10px -10px rgba(0,0,0,0.52);
        border:1px solid $bg-grey;

        @media (min-width: $sm-devices) {
            display: none;
        }
    }
}

.highlight {
    position: relative;
    height: 700px;
    margin-top: 52px;

    &__container {
        display: inline-block;
    
        @media (max-width: $md-devices) {
            width: 100%;
            display: block;
            position: relative;
        }
    }

    &__img {
        width: 78%;
        height: 600px;

        @media (max-width: $md-devices) {
            width: 100%;
            display: block;
            position: relative;
        }

        img {
            @include cover-image;
        }
    }

    &__text {
        background-color: $bg-pink;
        position: absolute;
        bottom: 180px;
        right: 0;
        width: 50%;

        div {
            @include absolute-center;
            background-color: $bg-pink;
            padding: 20px 30px;
            box-shadow: 0px 8px 10px -10px rgba(0,0,0,0.52);

            @media (min-width: $lg-devices) {
                padding: 40px 60px!important;
            }

            @media (min-width: $md-devices) {
               transform: translate(-40%, -50%);
               padding: 30px 20px;
            }

            p, button {
                margin-left: 0px;
                max-width: 450px;

                @media (min-width: $md-devices) {
                    margin-left: 30px;
                    max-width: unset;
                }
            }
        }

        @media (max-width: $md-devices) {
            width: 95%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -10%);
            position: absolute;
            bottom: 100px;
            z-index: 4;
        }

        @media (max-width: $sm-devices) {
            bottom: 130px;
        }
    }
}

.slider {
    text-align: center;
    padding: 60px 0 35px 0;

    h2 > span {
        @extend .text-detail;
        text-transform: uppercase;
        padding: 0 2px;
    }

    @media (max-width: $md-devices) {
        padding: 60px 0 20px 0;
    }

    p {
        padding: 30px 0 0 0;
        font-size: 16px;
    }
}
