.booking {
    &__container {
        overflow-x: hidden; 
        overflow-y: hidden; 
        white-space: unset;
        width: 100%;
        margin-top: 16px;
    }

    &__btn {
        &--link {
            border: none;
        }
 
        &--submit {
            @media (max-width: 940px) {
                width: 100%;
            }
        }

        &--return {
            position: absolute;
            top: -18px;
            right: 0;
        }

        &--delete {
            display: inline-block;
            margin: 0;
            position: absolute;
            right: 30px;
            bottom: 14px;
            font-size: 14px;
            padding: 5px 8px;
            width: 74px;
            text-align: center;

            &:after{
                content: "Remove";
            }
            &:hover:after{
                content: "x";
                font-weight: 600;
            }

            @media (max-width: 940px) {
                right: 16px;
            }

            @media (max-width: 480px) {
                position: relative;
                margin: 20px 0 0 15px;
            }
        }
    }

    &__summary {
        width: 100%;
        position: relative;
        margin-top: 60px;

        h2 {
            letter-spacing: 2px;
            display: inline-block;
        }
        
        p {
            display: inline-block;
            margin: 0 10px 0 0; 
        }

        &__link {
            margin-top: 12px;

            @media (max-width: 480px) {
                float: none!important;
                display: block;
                margin: 0;
            }

            p {
                vertical-align: middle;
                font-size: 15px;
                font-weight: 500;
                margin-bottom: 8px;
                text-decoration: none;
            }

            i {
                font-size: 20px;
                margin-right: 8px;
            }
        }
    }  

    &__overview {
            width: 100%;
            margin-top: 22px;

        &__list {
            
            &--item {
                width: 100%;
                position: relative;
                margin-bottom: 30px;
                font-size: 14px;
                border-bottom: 1px solid $bg-grey;

                h3 {
                    font-size: 22px!important;
                    font-weight: normal;
                    margin: 10px 10px 0 0;
                    display: inline-block;

                    span {
                        margin-left: 10px;
                        font-size: 14px;
                        font-weight: bold;
                    }
                }

                p {
                    display: block;
                }

                @media (max-width: 940px) {
                    margin: 20px 0 50px 0;
                    border: 1px solid $bg-grey;
                    box-shadow: 0px 8px 10px -10px rgba(0,0,0,0.52);
                }
            }
        }
    }

    &__iconbar {
        display: inline;
            
        &--icon {
            display: inline;
            float: right;
            width: 30%;
            text-align: center;
            max-width: 90px;
            @include user-select;

            span {
                display: block;
                font-size: 13px;
            }

            &i {
                padding: 0 20px;
                display: block;
            }

            @media (max-width: 480px) {
                width: 100%;
                max-width: 140px;
                text-align: left;

                span {
                    display: inline;
                    margin-left: 8px;
                }
            }
        }

        @media (max-width: 940px) {
            margin-bottom: 40px;
        }

        @media (max-width: 480px) {
            display: flex;
            margin: 20px 0 0 0;
        }
    }

    &__detail {
        display: block;
        padding-right: 14px;
    
        @media (max-width: 940px) {
            width: 100%;
            padding: 12px;
            background-color: #f5f5f58a;
            
        }
        
        &--summary {
            display: inline-block;
            width: 100%;
            margin: 28px 0;

            @media (max-width: 940px) {
                width: 100%;
            }

            p {
                padding: 2px 0;
            }
    
            p:nth-child(1)  {
                font-size: 17px;
                font-weight: 500;
                padding: 0 0 10px 0;
                font-family: $text-font;
            }
        }
    }

    &__hotel {
        text-align: center;
        float: right;
        background-color: $bg-pink;
        padding: 24px 15px 28px 14px;
        @include absolute-center-y;

        @media (max-width: 940px) {
            text-align: left!important;
            float: unset;
            position: relative;
            padding: 0 14px 12px 12px;
            width: 100%;
            transform: none;

            h3 {
                display: inline-block!important;
                margin-bottom: 10px!important;
            }
        }

        &__contact {
            margin: 0 0 12px 0;
            letter-spacing: 1px;
            border-top: 2px solid transparent;
            border-bottom: 2px solid $detail-brown;
            display: inline-block;
            line-height: 1.6;
            padding: 0 8px;
            
            &:hover {
                font-weight: 600;
                border-bottom: 2px solid $url-color;
            }

            @media (max-width: 940px) {
                margin: 10px 0!important;
                border: none;
                float: right;
                padding: 0;
                vertical-align: baseline;
                border-bottom: 2px solid $detail-brown;
            }

            @media (max-width: $sm-devices) {
                float: unset;
                width: fit-content;
                margin: 0!important;
            }
        }
    }

    &__slip {
        width: 100%;
        position: relative;
        margin: 40px 0 20px 0;
        
        p {
            display: block;
            margin: 0 0 5px 0; 
            font-size: 16px;
        }
    }

    &__item {
        background-color: $bg-pink;
        padding: 10px 15px 5px 15px;
        margin-bottom: 10px;

        &__wrapper {
            &--header {
                font-weight: 500;
                margin: 0 8px 0 0;
                text-transform: uppercase;
                font-size: 12px;
                letter-spacing: 0;
                font-family: $text-font;
            }

            p {
                color: $main-blue;
                display: inline-block;
                text-transform: capitalize;
                border-bottom: 2px dotted $main-blue;
                font-size: 14px;
                margin: 5px 0 10px 0;
                font-weight: 500;

                span {
                    font-size: 13px;
                }
            }

            .booking__item__wrapper--header, i {
                display: inline-block;
                margin: 0 10px 0 0;
                font-size: 14px;
                @include user-select;
                vertical-align: revert;
            }

            i {
                font-size: 17px;
                color: $main-blue;
            }
        }
    }

    &__text__section {
        width: 80%;
        display: inline-block;
        @include font-face($text-font, 16px, 400, normal, unset)
    }

    @media (max-width: $sm-devices) {
        &__col, &__text__section {
            width: 100%;
        }

        &__container {
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            width: 100%!important;
            -webkit-overflow-scrolling: touch;
            padding: 10px 0 20px 0;

            &::-webkit-scrollbar {
                width: 20px;
            }
    
            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: $detail-brown;
            }
            
            &::-webkit-scrollbar-track {
                background-color: $bg-pink;
                border-radius: 10px;
            }
        }

        &__item {
            display: inline-block;
            padding: 4px 8px;
            white-space: normal;
            margin-bottom: 0;
            margin-right: 40px;
        }
    }
    
}
